padding: 0px 5px 0px 5px;
    margin: 3px 5px 3px 5px;
    background-color: rgba(119, 7, 56, 0.372);
    border: 3px solid rgba(119, 7, 56, 0.974);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
@import "/home/nam/.config/waybar/style.css";
